anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
click==8.1.2
Deprecated==1.2.13
fastapi==0.75.2
h11==0.13.0
httptools==0.4.0
idna==3.3
packaging==21.3
pydantic==1.9.0
pyparsing==3.0.8
python-dotenv==0.20.0
python3-nmap==1.5.1
PyYAML==6.0
redis==4.2.2
rq==1.10.1
simplejson==3.17.6
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.2.0
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
wrapt==1.14.0
pika~=1.2.0