{% extends "base.html" %}

{% block content %}
<div class="column is-10" id="page-content">
                    <div class="content-header">
        <h4 class="title is-4">About</h4>
        <span class="separator"></span>
                        <a class="button is-info" href="{{ url_for('main.about') }}">Reload</a>
                        <span class="separator"></span>
    </div>
<div class="content-body">

                    </div>

    <div class="hero-body">
            <div class="container has-text-centered">
               <h1 class="title">
  Onicron Community ver.0.0.1
</h1>
<h2 class="subtitle">
  Vulnerability Management System
</h2>
            </div>
        </div>

</div>
{% endblock %}