<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Onicron Community</title>
        <link rel="stylesheet" href="../static/css/app.css">
        <link href="https://fonts.googleapis.com/icon?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/jquery.dataTables.css">

        <script type="text/javascript" charset="utf8" src="../static/js/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="../static/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../static/js/dataTables.select.min.js"></script>
    </head>
    <body>
    {% if current_user.is_authenticated %}
        <nav class="navbar columns is-fixed-top" role="navigation" aria-label="main navigation" id="app-header">
    <div class="navbar-brand column is-2 is-paddingless">
        <a class="navbar-item" href="{{ url_for('main.dashboard') }}">Onicron Community</a>
    </div>
    <div id="navMenu" class="navbar-menu column is-hidden-touch">
        <div class="navbar-end">
            <div class="navbar-item">
                {% if current_user.is_authenticated %}
                <a class="button is-white" href="{{ url_for('auth.logout') }}">
                    {% if name %}
                        <h1>Hello {{ name }}!</h1>
                    <span class="icon">
                        <i class="fa fa-lg fa-power-off"></i>
                    </span>
                    {% else %}
                        <h1>Hello!</h1>
                    {% endif %}
                </a>
                {% endif %}
            </div>
            <div class="navbar-item has-dropdown">
                <div class="navbar-dropdown is-right">
                </div>
            </div>
        </div>
    </div>
</nav>
        <div class="columns" id="app-content">
            <div class="column is-2 is-fullheight is-hidden-touch" id="navigation">
    <aside class="menu">
        <ul class="menu-list">

            <li>
                <a class="" href="{{ url_for('main.dashboard') }}"><span class="icon"><i class="fa fa-home"></i></span> Dashboard</a>
                <a class="" href="{{ url_for('main.inventory') }}"><span class="icon"><i class="fa fa-edit"></i></span> Inventory</a>
                <a class="" href="{{ url_for('main.scanner') }}"><span class="icon"><i class="fa fa-desktop"></i></span> Scanner</a>
                <a class="" href="{{ url_for('main.scanner') }}"><span class="icon"><i class="fa fa-eraser"></i></span> Vulnerability</a>
                <a class="" href="{{ url_for('main.cve') }}"><span class="icon"><i class="fa fa-table"></i></span> CVE DB</a>
                <a class="" href="{{ url_for('main.result_task') }}"><span class="icon"><i class="fa fa-tasks"></i></span> Result Task</a>
                <a class="" href="{{ url_for('main.news') }}"><span class="icon"><i class="fa fa-hacker-news"></i></span> News</a>
                <a class="" href="{{ url_for('main.setting') }}"><span class="icon"><i class="fa fa-certificate"></i></span> Setting</a>
                <a class="" href="{{ url_for('main.about') }}"><span class="icon"><i class="fa fa-info"></i></span> About</a>
            </li>

        </ul>
    </aside>
</div>
            {% block content %}

        {% endblock %}
        </div>
    {% endif %}
    </body>
</html>