{% extends "base.html" %}

{% block content %}
<div class="column is-10" id="page-content">
                    <div class="content-header">
<h2 class="title is-4"><span class="icon"><i class="fa fa-table"></i></span><strong>Knowledge Base</strong></h2>
                        <span class="separator"></span>
                        <form method="POST" action="/cve">
    <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" name="cve_text" placeholder="Find a CVE (Example: cve-2020-0010)">
  </div>
  <div class="control">
    <button class="button is-info" href="{{ url_for('main.cve') }}"><i class="fa fa-search"></i>
      Search
    </button>
  </div>
</div>
</form>
<span class="separator"></span>
                        <a class="button is-info" href="{{ url_for('main.cve') }}">Refresh</a>
    </div>
    <div class="content-body">

                    </div>
    {% if cve_info %}
                    {% for data in cve_info %}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{data['cve']}}
    </p>

  </header>

  <div class="card-content">
    <div class="content">
<!--      <br>-->
        <h4>{{data['value']}}</h4>
        {% if data['impact']['baseMetricV2'] %}
        <p><strong>Version:</strong> {{data['impact']['baseMetricV2']['cvssV2']['version']}}</p>
        <p><strong>Vector String:</strong> {{data['impact']['baseMetricV2']['cvssV2']['vectorString']}}</p>
        <p><strong>Access Vector:</strong> {{data['impact']['baseMetricV2']['cvssV2']['accessVector']}}</p>
        <p><strong>Access Complexity:</strong> {{data['impact']['baseMetricV2']['cvssV2']['accessComplexity']}}</p>
        <p><strong>Authentication:</strong> {{data['impact']['baseMetricV2']['cvssV2']['authentication']}}</p>
        <p><strong>Confidentiality Impact:</strong> {{data['impact']['baseMetricV2']['cvssV2']['confidentialityImpact']}}</p>
        <p><strong>Integrity Impact:</strong> {{data['impact']['baseMetricV2']['cvssV2']['integrityImpact']}}</p>
        <p><strong>Availability Impact:</strong> {{data['impact']['baseMetricV2']['cvssV2']['availabilityImpact']}}</p>
        <p><strong>Base Score:</strong> {{data['impact']['baseMetricV2']['cvssV2']['baseScore']}}</p>
        <p><strong>Severity:</strong> {{data['impact']['baseMetricV2']['severity']}}</p>
        <p><strong>Exploitability Score:</strong> {{data['impact']['baseMetricV2']['exploitabilityScore']}}</p>
        <p><strong>Impact Score:</strong> {{data['impact']['baseMetricV2']['impactScore']}}</p>
        <p><strong>Obtain All Privilege:</strong> {{data['impact']['baseMetricV2']['obtainAllPrivilege']}}</p>
        <p><strong>Obtain User Privilege:</strong> {{data['impact']['baseMetricV2']['obtainUserPrivilege']}}</p>
        <p><strong>Obtain Other Privilege:</strong> {{data['impact']['baseMetricV2']['obtainOtherPrivilege']}}</p>
        <p><strong>User Interaction Required:</strong> {{data['impact']['baseMetricV2']['userInteractionRequired']}}</p>
        {% endif %}
        <p><strong>Last Modified Date:</strong> {{data['lastModifiedDate']}}</p>
        <p><strong>Published Date:</strong> {{data['publishedDate']}}</p>
    </div>
  </div>
  <footer class="card-footer">
  </footer>
</div>
    {% endfor %}
{% else %}
        <table id="inventory_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th><div style="width: 40px;">IP</div></th>
                <th>Tags</th>
                <th>Update Date</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>1</td>
            <td>2</td>
            <td>3</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
                    </div>
<script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('#inventory_id').DataTable(
	    {#    {#}
		{#"order": [[ 0, "desc" ]]#}
	    {#    } #}
	        );
        } );
</script>

{% endblock %}