{% extends "base.html" %}

{% block content %}
<script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('#table_ids').DataTable( {
		select: true
	        } );
        } );
</script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/Chart.min.js"></script>
<div class="column is-10 " id="page-content">
<!--    <div class="content-header  ">-->
<!--    <h4 class="title is-4"><span class="icon"><i class="fa fa-home"></i></span> Dashboard</h4>-->
<!--        <span class="separator"></span>-->
<!--    <a class="button is-info " href="{{ url_for('main.dashboard') }}"><i class="fa fa-refresh"></i>Refresh</a>-->
<!--    <span class="separator"></span>-->
<!--        </div>-->

<div class="box">
  <article class="media">
    <div class="media-left">
    </div>
    <div class="media-content">
      <div class="content">
          {% if name %}
        <p class="title is-4"> Hello, {{ data["name"] }}! </p>
          {% else %}
          <p class="title is-4"> Hello, {{ data["name"] }}! </p>
          {% endif %}
          <div class="content">
          <p class="subtitle is-6">Last login <strong>12 mins ago</strong> from <strong>192.168.1.1</strong></p>
              </div>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
        </div>
      </nav>
    </div>
  </article>
</div>

<div class="content-body">
    <nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">HOST DISCOVERY</p>
      <p class="title">{{data["count_inventory"]}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Vulnerability</p>
      <p class="title">{{data["count_vulners"]}}</p>
    </div>
  </div>
</nav>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                       <p class="title is-4">Open Port</p>
                        <canvas id="chart" style="width:100%"></canvas>
                        <script>
                            var ctx = document.getElementById('chart');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels : [
                                        {% for item in data["port"] %}
                                                "{{ item[0] }}",
                                        {% endfor %}
	                                ],
                                    datasets: [{
                                            label: '%',
                                            data : [
                                            {% for item in data["port"] %}
                                                    "{{ item[1] }}",
                                            {% endfor %}
	                                ],
                                    backgroundColor: [
                                        {% for item in data["port"] %}
                                       'rgba(151,187,205, 0.2)',
                                      {% endfor %}
                                    ],
                                    borderColor: [
                                        {% for item in data["port"] %}
                                       'rgba(151,187,205, 1)',
                                      {% endfor %}
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                        </script>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Service</p>
                        <canvas id="chart-area" style="width:100%"></canvas>
                            <script>
                            var ctx = document.getElementById('chart-area');
                            var myPieChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    datasets: [{
                                    data : [
                                        {% for item in data["service"] %}"{{ item[1] }}", {% endfor %}
                                        ],
                                    backgroundColor: [
                                        {% for item in data["service"] %} "rgba(151,187,205, 0.5)", {% endfor %}

					],
                                }],
                                labels : [{% for item in data["service"] %}"{{ item[0] }}", {% endfor %}],
                            },
                            });
                            </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Last Task</p>
                        <div class="table-container">
        <table id="table_ids" class="table" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Task name</th>
                <th>Host</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data["last_task"] %}
            <tr>
                <td>{{item.uid}}</td>
                <td>{{item.name}}</td>
                <td>{{item.host}}</td>
                <td>{{item.dateofreg}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">New CVE</p>
                        <table class="table">
  <thead>
    <tr>
      <th><abbr title="CVE">CVE</abbr></th>
      <th><abbr title="Published Date">Published Date</abbr></th>
      <th><abbr title="Severity">Severity</abbr></th>
    </tr>
  </thead>
  <tbody>
    {% for item in data["last_cve"] %}
            <tr>
                <td>{{item.cve}}</td>
                <td>{{item.publishedDate}}</td>
                <td>{{item.impact.baseMetricV2.severity}}</td>
            </tr>
        {% endfor %}
  </tbody>
</table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
{% endblock %}