{% extends "base.html" %}

{% block content %}
<script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('#table_ids').DataTable( {
		select: true
	        } );
        } );
</script>
        {% block userscript %}
<script type="text/javascript" charset="utf8" src="../static/js/Chart.min.js"></script>
        {% endblock %}

<div class="column is-10 " id="page-content">

<div class="content-body">
    <nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">HOST DISCOVERY</p>
      <p class="title">{{data["count_host"]}}</p>
    </div>
  </div>
        <div class="level-item has-text-centered">
    <div>
      <p class="heading">IMPORTANT HOST</p>
      <p class="title">{{data["count_important_host"]}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Vulnerability</p>
        <p class="title">{{data["count_vulnerability"]}}</p>
    </div>
  </div>
        <div class="level-item has-text-centered">
    <div>
      <p class="heading">Exploit</p>
      <p class="title">{{data["exploit"]}}</p>
    </div>
  </div>
        <div class="level-item has-text-centered">
    <div>
      <p class="heading">Score</p>
      <p class="title">{{data["score"]}}</p>
    </div>
  </div>
</nav>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                       <p class="title is-4">Open Port</p>
                        <canvas id="open_port" style="width:100%"></canvas>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Service</p>
                        <canvas id="service" style="width:100%"></canvas>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Vulnerability</p>
                        <canvas id="vulnerability" style="width:100%"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Vulnerable Host</p>
                        <canvas id="v_host" style="width:100%"></canvas>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Task</p>
                        <canvas id="task" style="width:100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    var ctx = document.getElementById('open_port').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['22', '80', '443', '8080', '3456'],
        datasets: [{
            label: '%',
            data: [12, 19, 3, 5, 2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var ctx = document.getElementById('service').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['SSH', 'HTTP', 'Telnet', 'SMB', 'HTTPS'],
        datasets: [{
            label: 'Port',
            data: [12, 19, 3, 5, 2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
				responsive: true
			}
});

var ctx = document.getElementById('vulnerability').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['CVE-2019-1438', 'CVE-2018-0014', 'CVE-2018-0124', 'CVE-2019-0023', 'CVE-2020-1342'],
        datasets: [{
            label: 'count',
            data: [12, 19, 3, 5, 2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('v_host').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['192.168.100.1', '192.168.100.84', '192.168.1.134', '192.168.100.3', '192.168.100.89'],
        datasets: [{
            label: 'Average Score',
            data: [8.5, 9.2, 7.6, 6.7, 8],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var ctx = document.getElementById('task').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['20.02.2021', '19.02.2021', '18.02.2021', '17.02.2021', '16.02.2021'],
        datasets: [{
            label: 'Count Task',
            data: [9, 10, 8,12, 8],
            fill :false,
            borderWidth: 1,
            borderColor :'rgb(75, 192, 192)'
        }]
    },
    options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
                 return tooltipItems.yLabel + ' task';
               }
      }
    },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
  }
});

</script>

{% endblock %}