{% extends "base.html" %}

{% block userscript %}
<link rel="stylesheet" type="text/css" href="../static/css/tab.css">

<script type="text/javascript" charset="utf8" src="../static/js/tab_info.js"></script>
<script type="text/javascript" charset="utf8" src="../static/js/table.js"></script>
<script type="text/javascript" charset="utf8" src="../static/js/tab.js"></script>
{% endblock %}

{% block content %}

<!--<link rel="stylesheet" type="text/css" href="../static/css/list.css">-->
<div class="column is-10" id="page-content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
      <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('main.scanner') }}">Scanner</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{uid.uuid}}</a></li>
  </ul>
</nav>

    <div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{uid.host}} <span class="tag is-warning">{{uid.tag}}</span></p>
        <p class="subtitle is-6">{{uid.uuid}}</p>
      </div>
    </div>
    <div class="content">
      <time datetime="2016-1-1">{{uid.date}}</time>
    </div>
  </div>
</div>

    <div class="tabs is-toggle is-toggle-rounded">
    <ul>
      <li id="all-tab" class="is-active">
        <a onClick="switchToAll()">
        <span class="icon is-small"><i class="fa fa-server"></i></span>
        <span>Open Port</span>
      </a>
      </li>
      <li id="adaptivedesign-tab-vulnerabilities">
        <a onClick="switchToAdaptiveDesignUpdate()">
        <span class="icon is-small"><i class="fa fa-calendar"></i></span>
        <span>Vulnerabilities</span>
      </a>
      </li>
    </ul>
    <!--/tabs is-centered-->
  </div>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">TOTAL VULNERABILITY</p>
      <p class="title">{{cntV}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">TOTAL EXPLOIT</p>
      <p class="title">{{cntE}}</p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">TOTAL DIRECTORY</p>
      <p class="title">{{cntD}}</p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">LOGIN OR PASSWORD</p>
      <p class="title">{{cntP}}</p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">AVERAGE SCORE CVE</p>
      <p class="title">{{avgS}}</p>
    </div>
  </div>
</nav>
    <div class="table-container" id="all-tab-content">
        <table id="info_scanner_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Port</th>
                <th><div style="width: 40px;">Protocol</div></th>
                <th>Name</th>
                <th>Service name</th>
                <th>Service version</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        {% for item in uid.scanner %}
            <tr>
                <th>{{item.port}}</th>
                <th>{{item.protocol}}</th>
                <th>{{item.service.product}}</th>
                <th>{{item.service.name}}</th>
                <th>{{item.service.version}}</th>
                <th>{{item.state}}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="is-hidden" id="adaptivedesign-tab-update-content">
        <div id="tabs" >
	<!-- Кнопки -->
	<ul class="tabs-nav">
        {% for item in uid.scanner %}
		<li><a href="#tab-{{item.port}}">{{item.port}} ({{item.service.product}})</a></li>
        {% endfor %}
	</ul>

	<div class="tabs-items">
        {% for item in uid.scanner %}
        <div class="tabs-item" id="tab-{{item.port}}">
            {% for cve in item.vulnerability['cve_mitre'] %}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
        <a href="#{{ cve['cve'] }}-{{item.port}}" onclick="view('{{ cve['cve'] }}-{{ item['port'] }}'); return false"><strong>{{ cve['cve'] }}</strong></a>
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
    </a>
  </header>
    <div id="{{ cve['cve'] }}-{{item.port}}" style="display: none;">
  <div class="card-content">
    <div class="content">
      <p>{{ cve['value'] }}</p>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Info</a>
    <a href="#" class="card-footer-item"><span class="tag is-primary">CVSS Score: {{ cve['CVSS Score'] }}</span></a>
  </footer>
</div>
    </div>

            {% endfor %}

        </div>
        {% endfor %}
	</div>
</div>
     </div>
    </div>
<script>function view(n) {
    style = document.getElementById(n).style;
    style.display = (style.display == 'block') ? 'none' : 'block';
}</script>
{% endblock %}