{% extends "base.html" %}

{% block userscript %}
<script type="text/javascript" charset="utf8" src="../static/js/tab_info.js"></script>
<script type="text/javascript" charset="utf8" src="../static/js/table.js"></script>
<script type="text/javascript" charset="utf8" src="../static/js/tab.js"></script>
{% endblock %}

{% block content %}

<div class="column is-10" id="page-content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
      <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('main.scanner') }}">Scanner</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{uid.uuid}}</a></li>
  </ul>
</nav>

    <div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{uid.host}} <span class="tag is-warning">{{uid.tag}}</span></p>
        <p class="subtitle is-6">{{uid.uuid}}</p>
      </div>
    </div>
    <div class="content">
      <time datetime="2016-1-1">{{uid.date}}</time>
    </div>
      <button class="button is-info" name="report" onclick="create_report();">Create Report</button>
      <span class="separator"></span>
      <button class="button is-danger" name="report" onclick="delete_data();">Delete Task</button>
  </div>
</div>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">TOTAL VULNERABILITY</p>
      <p class="title">{{cntV}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">TOTAL EXPLOIT</p>
      <p class="title">{{cntE}}</p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">TOTAL DIRECTORY</p>
      <p class="title">{{cntD}}</p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">LOGIN OR PASSWORD</p>
      <p class="title">{{cntP}}</p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">AVERAGE SCORE</p>
      <p class="title">{{avgS}}</p>
    </div>
  </div>
</nav>
<div id="tabs" >
    <div class="tabs is-left">
        <ul class="tabs-nav">
        <li><a href="#open-port"><span class="icon is-small"><i class="fa fa-server"></i></span>Open Port</a></li>
		<li><a href="#vulnerabilities"><span class="icon is-small"><i class="fa fa-calendar"></i></span>Vulnerabilities</a></li>
            <li><a href="#exploit"><span class="icon is-small"><i class="fa fa-calendar"></i></span>Exploit</a></li>
            <li><a href="#info"><span class="icon is-small"><i class="fa fa-calendar"></i></span>Info</a></li>
	</ul>
  </div>
    <!-- Контент -->
	<div class="tabs-items">
		<div class="tabs-item" id="open-port">
			<div class="table-container">
        <table id="info_scanner_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Port</th>
                <th><div style="width: 40px;">Protocol</div></th>
                <th>Name</th>
                <th>Service name</th>
                <th>Service version</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        {% for item in uid.open_port %}
            <tr>
                <th>{{item.port}}</th>
                <th>{{item.protocol}}</th>
                <th>{{item.name}}</th>
                <th>{{item.product}}</th>
                <th>{{item.version}}</th>
                <th>{{item.state}}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
		</div>
        <div class="tabs-item" id="info">
			<div class="card">
  <div class="card-content">
    <div class="content">
    <strong>Текст вкладки №45</strong>
    </div>
  </div>
</div>
		</div>
		<div class="tabs-item" id="vulnerabilities">
            {% for item in uid.open_port %}
                {% if item.plugins.cve_mitre %}
                    {% for cve_data in item.plugins.cve_mitre %}
                        <article class="message is-dark">
                            <div class="message-body">
                                <p><strong>Service Name: </strong>{{ item.product }}</p>
                                <p><strong>Version: </strong>{{ item.version }}</p>
                                <p><strong>Port: </strong>{{ item.port }}</p>
                                <p><strong>Vulnerability: </strong>{{ cve_data }}</p>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            {% endfor %}
		</div>
		<div class="tabs-item" id="exploit">
			<strong>Текст вкладки №3</strong>
		</div>
	</div>
     </div>
    </div>
    <script>
        function delete_data() {
            $.ajax({
                type: "POST",
                url: "/scanner/{{uid.uuid}}/delete",
                success: function(){
                window.location.href = "/inventory/{{uid.host}}";
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        function create_report() {
            $.ajax({
                type: "POST",
                url: "/report/{{uid.uuid}}",
                success: function(){
                window.location.href = "/report";
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}