{% extends "base.html" %}

{% block content %}
<script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('#inventory_id').DataTable( {
		select: true
	        } );
        } );
</script>
            <div class="column is-10" id="page-content">
                    <div class="content-header">
        <h4 class="title is-4"><span class="icon"><i class="fa fa-edit"></i></span> Inventory</h4>
        <span class="separator"></span>
                        <form method="POST" action="/inventory">
                        <button class="button is-success" href="{{ url_for('main.inventory') }}"><i class="fa fa-play"></i>Start</button>
                        </form>
                        <span class="separator"></span>
                        <a class="button is-info" href="{{ url_for('main.inventory') }}"><i class="fa fa-refresh"></i>Refresh</a>
                        <span class="separator"></span>
    </div>
                <div class="content-body">

                    </div>
        <table id="inventory_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th><div style="width: 40px;">IP</div></th>
                <th>Tags</th>
                <th>Update Date</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.uuid}}</td>
                <td><a href="{{ url_for('main.tags', ip=item.ip) }}">{{item.ip}}</a></td>
                <td><span class="tag is-warning">{{item.tag}}</span></td>
                <td>{{item.date}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}