{% extends "base.html" %}

{% block content %}
<script type="text/javascript" charset="utf8" src="../static/js/notification.js"></script>

<div class="column is-10" id="page-content">
    <section class="hero">
  <div class="content has-text-left">
    <h2 class="title is-4"><span class="icon"><i class="fa fa-newspaper-o"></i></span><strong>Notification</strong></h2>
  </div>
</section>

{% for item in items %}
<div class="notification">
    <button class="delete is-small"></button>
      <p><strong>Message:</strong> {{item['message']}}</p>
      <p><strong>Time:</strong> {{item['time']}}</p>
  </div>

{% endfor %}
</div>

{% endblock %}