{% extends "base.html" %}

{% block content %}
<script type="text/javascript" charset="utf8" src="../static/js/notification.js"></script>

<div class="column is-10" id="page-content">
<!--                    <div class="content-header">-->
<!--        <h4 class="title is-4"><span class="icon"><i class="fa fa-newspaper-o"></i></span> Notification</h4>-->
<!--        <span class="separator"></span>-->
<!--                        <a class="button is-info" href="{{ url_for('main.notification') }}"><i class="fa fa-refresh"></i>Refresh</a>-->
<!--                        <span class="separator"></span>-->
<!--                        <form method="POST" action="/notification">-->
<!--                        <button class="button is-danger" href="{{ url_for('main.notification') }}"><i class="fa fa-close"></i>Delete Notification</button>-->
<!--                        </form>-->
<!--    </div>-->
    <section class="hero">
  <div class="content has-text-left">
    <h2 class="title is-4"><span class="icon"><i class="fa fa-newspaper-o"></i></span><strong>Notification</strong></h2>
  </div>
</section>

{% for item in items %}
<div class="notification">
    <button class="delete is-small"></button>
      <p><strong>Message:</strong> {{item['message']}}</p>
      <p><strong>Time:</strong> {{item['time']}}</p>
  </div>

{% endfor %}
<!--    <form method="POST" action="/notification">-->
<!--        <button class="button is-danger" href="{{ url_for('main.notification') }}">Delete Notification</button>-->
<!--    </form>-->
</div>

{% endblock %}