{% extends "base.html" %}

{% block content %}
<div class="column is-10" id="page-content">
    <form method="POST" action="/setting">
                    <div class="content-header">
        <h4 class="title is-4"><span class="icon"><i class="fa fa-list"></i></span> Report</h4>
        <span class="separator"></span>
                        <a class="button is-info" href="{{ url_for('main.report') }}"><i class="fa fa-refresh"></i>Refresh</a>
                        <span class="separator"></span>
    </div>
    </form>

</div>
<!--  <div class="container">-->
{% endblock %}