{% extends "base.html" %}

{% block content %}
<div class="column is-10" id="page-content">
<section class="hero">
  <div class="content-header">
    <h2 class="title is-4"><span class="icon"><i class="fa fa-file-pdf-o"></i></span><strong>Report</strong></h2>
      <span class="separator"></span>
      <a class="button is-info" href="{{ url_for('main.report') }}">Refresh</a>
  </div>
</section>
{% for item in items %}
    <div class="notification">
  <button class="delete" name="report" onclick="delete_report('{{ item }}');"></button>
  <p><strong>Name: </strong><a href="{{ url_for('main.open_pdf', path=item) }}"> {{ item }}</a></p>
    <p><strong>Date create:</strong> {{ items[item]['time'] }}</p>
    </div>
{% endfor %}
</div>
<script>
        function delete_report(name) {
            $.ajax({
                type: "POST",
                url: "/report/"+name+"/delete",
                success: function(){
                window.location.href = "/report";
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}