{% extends "base.html" %}

{% block content %}
<div class="column is-10" id="page-content">
                    <div class="content-header">
        <h4 class="title is-4">Scanner</h4>
                        <span class="separator"></span>
                        <form method="POST" action="/scanner">
    <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" name="scanner_text" value='{{ ips }}'>
  </div>
  <div class="control">
    <button class="button is-success" name="one" href="{{ url_for('main.scanner') }}">
      Start
    </button>
  </div>
</div>
</form>
                        <span class="separator"></span>
                        <a class="button is-info" href="{{ url_for('main.scanner') }}">Reload</a>
                        <span class="separator"></span>
    </div>
<!--  <div class="container">-->
    <table id="scanner_id" class="display" style="width:100%">
        <thead>
            <tr>
<!--                <th>#</th>-->
                <th><div style="width: 40px;">IP</div></th>
<!--                <th>Protocol</th>-->
<!--                <th>Port</th>-->
<!--                <th>Service Name</th>-->
<!--                <th>Service Version</th>-->
                <th>Update Date</th>
            </tr>
        </thead>
        <tbody>
{% for item in items %}
            <tr>
<!--                <th>{{item.uid}}</th>-->
                <th>{{item[0]}}</th>
<!--                <th>{{item.protocol}}</th>-->
<!--                <th>{{item.port}}</th>-->
<!--                <th>{{item.service_name}}</th>-->
<!--                <th>{{item.service_version}}</th>-->
                <th>{{item[1]}}</th>
            </tr>
{% endfor %}
        </tbody>
    </table>
<!--  </div>-->
        </form>

<script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('#scanner_id').DataTable( {
		select: true
	        } );
        } );
</script>
</div>
{% endblock %}