{% extends "base.html" %}
{% block userscript %}
<script type="text/javascript" charset="utf8" src="../static/js/tab.js"></script>
{% endblock %}
{% block content %}
<div class="column is-10" id="page-content">
<div class="content-header">
        <h2 class="title is-4"><span class="icon"><i class="fa fa-edit"></i></span><strong>{{ips}}</strong></h2>
        <span class="separator"></span>
    <a class="button is-info" href="{{ url_for('main.tags', ip=ips) }}">Refresh</a>
        </div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url_for('main.inventory') }}">< Back to Host Discovery</a></li>
  </ul>
</nav>
    <div id="tabs">
    <div class="tabs is-left">
  <ul class="tabs-nav">
      <li><a href="#tab-scanner-task"><span class="icon is-small"><i class="fa fa-file-text" aria-hidden="true"></i></span>Scanner Task</a></li>
      <li><a href="#tab-edit-host"><span class="icon is-small"><i class="fa fa-edit" aria-hidden="true"></i></span>Edit Host</a></li>
  </ul>
</div>
<div class="tabs-items">
		<div class="tabs-item" id="tab-scanner-task">
			<div class="field">
<table id="inventory_ip_ids" class="display" style="width:100%">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Host</th>
                <th>Update Date</th>
            </tr>
        </thead>
        <tbody>
{% for item in items %}
            <tr>
                <td><a href="{{ url_for('main.scanner_info', uuid=item.uuid) }}">{{item.uuid}}</a></td>
                <td>{{item.host}}</td>
                <td>{{item.date}}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
            </div>
		</div>
		<div class="tabs-item" id="tab-edit-host">
			 <div class="field">
                 <form method="POST" action="/inventory/{{ips}}">
    <section class="modal-card-body">
      <div class="content">
          {% for item in tag_items %}
            <div class="field">
                <label class="label">NAME</label>
                    <div class="control">
                        <input class="input" type="text" name="tag" value='{{item.tag}}'>
                    </div>
                <p class="help">This is a help text</p>
            </div>
          <label class="checkbox">
              {% if item.important %}
  <input type="checkbox" name="important" checked>
              {% else %}
              <input type="checkbox" name="important">
              {% endif %}
  Important Host
</label>
          {% endfor %}
    </div>
        <button class="button is-success" href="{{ url_for('main.tags', ip=ips) }}">Save</button>
    </section>
        </form>
            </div>
		</div>
	</div>
  </div>
            </div>
<script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('#inventory_ip_ids').DataTable( {
		"order": [[ 2, "desc" ]]
	        } );
        } );
</script>
{% endblock %}